<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Comparadores</h2>

                    <!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
                    <div class="banner_line_titles"></div>

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>Estos solo nos permiten seleccionar valores numericos por medio de condiciones haciendo uso de los operadores mayor que, menor que y between el cual nos permite definir un rango entre un valor y otro.</p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Valores mayores o iguales a</h3>

                        <!--  
                            code_box: en esta definimos la guia de codigo en ejecucion
                        -->
                        <p class="code_box"><span>></span> select * from nombre_tabla <strong>where</strong> campo >= valor;</p>

                        <!--  
							sect_box_img: contenedor de 1 tag-img
						-->
                        <div class="sect_box_img">
                            <img src="../../assets/images/consultas/comparadores/con3.png" alt="valores mayores o iguales a" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Valores menores o iguales a</h3>

                        <p class="code_box"><span>></span> select * from nombre_tabla <strong>where</strong> campo <= valor;</p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/consultas/comparadores/con3.1.png" alt="valores menores o iguales a" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Valores entre rangos de</h3>

                        <p class="code_box"><span>></span> select * from nombre_tabla <strong>where</strong> campo <strong>between</strong> valor <strong>and</strong> valor;</p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/consultas/comparadores/con3.2.png" alt="valores entre rangos de" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. Valores diferentes a</h3>

                        <p class="code_box"><span>></span> select * from nombre_tabla <strong>where</strong> campo != "valor";</p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/consultas/comparadores/con7.png" alt="valores diferentes a" />
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">Comparadores - Consultas</footer>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
