<!DOCTYPE html>
<html lang="es">
	<head>
		<!--  
			_incluimos nuestro parcial head.ejs definido en la carpeta
			_partials
		-->
		<%- include('../partials/head'); %>
	</head>
	<body>
		<!--  
			.header_component: contenedor de la sesion, definimos un ID
			.para implementar este elemento en './src/js/main.js'
		-->
		<header class="header_component" id="header-component">
			<!--  
				_incluimos nuestro parcial header.ejs definido en la 
				_carpeta partials
			-->
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
				.nav_component: contenedor de la sesion, definimos un ID 
				.para implementar este elemento en './src/js/main.js'
			-->
			<nav class="nav_component" id="menu-nav">
				<!--  
					_incluimos nuestro parcial navbar.ejs definido en la 
					_carpeta partials
				-->
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
				main_components: contenedor de banner_component,
				description_component y de footer_component
			-->
			<main class="main_components">
				<!--  
					.banner_component: contenedor de la sesion, contiene 
					.1 tag-h2 y de 1 tag-h1
				-->
				<section class="banner_component">
					<!--  
						tag-h2: en esta definimos el titulo de bienvenida
					-->
					<h2>Bienvenido a</h2>

					<!--  
						hag-h2: en esta definimos el titulo de la tecnologia
					-->
					<h1>My<span>SQL</span></h1>
				</section>

				<!--  
					.description_component: contenedor de la sesion, contiene
					.a description_paragraph
				-->
				<div class="description_component">
					<!--  
						description_paragraph: en esta definimos un parrafo 
						de descripcion
					-->
					<p class="description_paragraph">
						En esta documentacion dejo plasmado el conocimiento
						sobre la base de datos relacional <strong>mysql</strong>
						adquirido a lo largo del tiempo en el cual he hecho uso
						de esta tecnologia. Aqui aprenderas a ingresar por medio
						de la consola de comandos con tus credenciales, para
						crear bases de datos, tablas y conoceras los comandos
						que se ulizan para manejor datos.
					</p>
				</div>

				<!--  
					.footer_component: contenedor de la sesion
				-->
				<footer class="footer_component">
					<!--  
						_incluimos nuestro parcial footer.ejs definido en la 
						_carpeta partials
					-->
					<%- include('../partials/footer'); %>
				</footer>
			</main>
		</div>

		<!--  
			definicion de los custom js
		-->
		<script src="../../js/main.js"></script>
	</body>
</html>
