<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Normalizar</h2>

                    <!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
                    <div class="banner_line_titles"></div>

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>Al momento de <strong>normalizar</strong> debemos tener unos puntos en consideracion los cuales serian. Identificar que registros de la tabla pueden conformar una entidad, separar los campos que no pertenezcan a las entidades, eliminar los datos redundantes y finalmente definir la relacion.</p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Tabla a normalizar</h3>

                        <!--  
							sect_box_img: contenedor de 1 tag-img
						-->
                        <div class="sect_box_img">
                            <img src="../../assets/images/normalizacion/normalizar/nor1.png" alt="tabla a normalizar" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Identificacion y separacion de entidades</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/normalizacion/normalizar/nor2.png" alt="identificacion y separacion de entidades" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Separar los datos variables de las tablas</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/normalizacion/normalizar/nor5.png" alt="separar los datos variables de las tablas" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. Eliminacion de datos redundantes</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/normalizacion/normalizar/nor3.png" alt="eliminacion de datos redundantes" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>05. Relacionar las tablas</h3>

                        <div class="sect_box_img">
                            <img src="../../assets/images/normalizacion/normalizar/nor4.png" alt="relacionar las tablas" />
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">Normalizar - Normalizacion</footer>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
