<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Seleccionar</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						En <strong>mysql</strong> tenemos varias formas de
						seleccionar valores de un campo, para esto debemos
						expecificar que seleccione todos los campos o
						especificar cuales campos de nuestra tabla queremos
						seleccionar donde el campo debe ser igual al valor con
						el que se guardo el dato.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
						<h3>
							01. Seleccionando todos los valores de una tabla
						</h3>

						<!--  
                            code_box: en esta definimos la guia de codigo en ejecucion
                        -->
						<p class="code_box">
							<span>></span> select *
							<strong>from</strong> nombre_tabla;
						</p>

						<!--  
							sect_box_img: contenedor de 1 tag-img
						-->
						<div class="sect_box_img">
							<img
								src="../../assets/images/datos/dat2.png"
								alt="seleccionando todos los valores de una tabla"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>
							02. Seleccionando valores personalizados de una
							tabla
						</h3>

						<p class="code_box">
							<span>></span> select nombre_campo, nombre_campo
							<strong>from</strong> nombre_tabla;
						</p>

						<div class="sect_box_img">
							<img
								src="../../assets/images/datos/dat2.1.png"
								alt="seleccionando valores personalizados de una tabla"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>
							03. Seleccionando multiples valores por un campo
						</h3>

						<p class="code_box">
							<span>></span> select nombre_campo, nombre_campo
							<strong>from</strong> nombre_tabla
							<strong>where</strong> campo = valor;
						</p>

						<div class="sect_box_img">
							<img
								src="../../assets/images/datos/dat3.png"
								alt="seleccionando multiples valores por un campo"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Seleccionando un valor por un campo</h3>

						<p class="code_box">
							<span>></span> select nombre_campo
							<strong>from</strong> nombre_tabla
							<strong>where</strong> campo = valor;
						</p>

						<div class="sect_box_img">
							<img
								src="../../assets/images/datos/dat3.1.png"
								alt="seleccionando un valor por un campo"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Seleccionar - Crud</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
