<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
        <header class="header_component" id="header-component"><%- include('../partials/header'); %></header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Modelacion</h2>

                    <!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
                    <div class="banner_line_titles"></div>

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>Por medio de la consola de comandos podemos crear, mostrar, conocer la estructura, modificar y eliminar una tabla en <strong>mysql</strong> de una manera rapida y sencilla.</p>
                </section>

                <!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Creando una tabla</h3>

                        <!--  
                            code_box: en esta definimos la guia de codigo en ejecucion
                        -->
                        <p class="code_box">
                            <span>></span> create <strong>table</strong> nombre_tabla ( <br />
                            campos - propiedades );
                        </p>

                        <!--  
							sect_box_img: contenedor de 1 tag-img
						-->
                        <div class="sect_box_img">
                            <img src="../../assets/images/tablas/modelacion/tab1.png" alt="creando una tabla" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Mostrando tablas creadas</h3>

                        <p class="code_box"><span>></span> show <strong>tables</strong>;</p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/tablas/modelacion/tab2.png" alt="mostrando tablas creadas" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Estructura de una tabla</h3>

                        <p class="code_box"><span>></span> describe nombre_tabla;</p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/tablas/modelacion/tab3.png" alt="estructura de una tabla" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. Modificando el nombre de una tabla</h3>

                        <p class="code_box"><span>></span> alter <strong>table</strong> nombre_tabla <strong>rename</strong> nuevo_nombre;</p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/tablas/modelacion/tab5.png" alt="modificando el nombre de una tabla" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>05. Eliminando una tabla</h3>

                        <p class="code_box"><span>></span> drop <strong>table</strong> nombre_tabla;</p>

                        <div class="sect_box_img">
                            <img src="../../assets/images/tablas/modelacion/tab4.png" alt="eliminando una tabla" />
                        </div>
                    </section>

                    <!--  
                        section_footer
                    -->
                    <footer class="section_footer">Modelacion - Tablas</footer>
                </div>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
