<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Tablas</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Por medio de la consola de comandos podemos crear,
						mostrar, conocer la estructura, editar y eliminar una
						tabla en <strong>mysql</strong> de una manera rapida y
						sencilla.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
						<h3>
							01. Crear - create table nombre_tabla (valores);
						</h3>

						<!--  
							sect_box_img: contenedor de 1 tag-img
						-->
						<div class="sect_box_img">
							<img
								src="../../assets/images/tablas/tab1.png"
								alt="crear - create tabla nombre_tabla ()"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Mostrar - show tables;</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/tablas/tab2.png"
								alt="mostrar - show tables"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Estructura - describe nombre_tabla;</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/tablas/tab3.png"
								alt="estructura - describe nombre_tabla"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>
							04. Editar - alter table nombre_tabla rename
							nuevo_nombre;
						</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/tablas/tab5.png"
								alt="editar - alter table nombre_tabla rename nuevo_nombre"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>05. Eliminar - drop table nombre_tabla;</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/tablas/tab4.png"
								alt="eliminar - drop table nombre_tabla"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">End Tablas</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
