<!--  
    footer_container: contenedor de 1 tag-p
-->
<div class="footer_container">
	<!--  
        tag-p: en esta definimos el parrafo 
        para del pie de pagina
    -->
	<p>Created by Jefferson Salazar</p>
</div>
